<!DOCTYPE html>
<html>
    <head>
        <Title>Delete Page</Title>
    </head>
    <body>
        <main>
            <h1>Delete this Magazine</h1>
            <div class="main">
                <form method="POST">
                    <!-- Security token by Django -->
                    {% csrf_token %}
                    Are you sure you want to delete this magazine ?
                    <input type="Submit" value="Delete this magazine">
                    <a href="/">Cancel </a>

                </form>
            </div>
        </main>
    </body>
</html>