<!DOCTYPE html>
<html lang="en">
 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>

    <body>
    <header>
        List of Genre
        <nav>
        </nav>
    </header>
    <main>
        <div class="magazine-card">
          <h1>Genre: {{ genre.name }} </h1>
          {% for magazine in genre.magazines.all %}
          <p>Title: {{magazine.title}}</P>

        {% endfor %}
        </div>
        
    </main>
    </body>

</html> 