<!DOCTYPE html>
<html lang="en">
 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>

    <body>
    <header>
        List of Issue
        <nav>
        </nav>
    </header>
    <main>
        <div>
          
        </div>
        
        <div class="book-card">
        <p>{{ issue.title }}</p>
        <p>{{ issue.cover_image }}</p>
        <p>{{ issue.page_count }}</p>
        <p>{{ issue.published_date }}</p>
        <p>{{ issue.issue_number }} </p>
        <p>{{ issue.description }}</p>
        

       
        </div>
    </main>
    </body>

</html> 