{% load static %}

<!doctype html>
<html>
    <head>
        <title>Magazine Detail</title>
        <link rel="stylesheet" href="{% static "css/book-app.css" %}">
    </head>
    <body>
        <header>Magazine Detail</header>
        <main>
            <div>
                <a href={% url "delete_magazine" magazine.pk %}>Delete this Magazine</a>
            </div>
            <div>
                <a href={% url "update_magazine" magazine.pk%}>Edit this Magazine</a>
            </div>
            <img src={{ magazine.cover_image }} alt="Book Cover"
                width = "200">
            <div class="magazine-card">
                <h2>{{ magazine.title }} </h2>
                {% for genre in magazine.genres.all%}
                <p>Genre: {{genre.name}}</p>
                {% endfor %}
              
                {% for issue in magazine.issues.all %}
                    <p>Issue: {{ issue.title }}</p>
                {% endfor %}
            <div>
                {% for genre in magazine.genres.all %}
                    <p>{{ genre.genre_name }}</p>
                {% endfor %}
            </div>
                <p>Release Cycle: {{ magazine.release_cycle}} </p>
                <p>Description: {{ magazine.description }} </p>
            </div>
           
        </main> 
    </body>
</html>


