<!doctype html>
<html>
    <head>
        <title>Magazine List</title>
    </head>
    <body>
        <header>Magazine List</header>
        <main>
           
            {% for magazine in magazines %}
            <h1>
                <a href={% url "update_magazine" magazine.pk %}>Edit Magazine</a>
            </h1>
            <img src={{ magazine.cover_image }} alt="Book Cover"
                width = "200">
            <div class="book-card">
                <p>
                    <a href={% url 'show_magazine' magazine.pk %}> 
                      {{ magazine.title }}
                    </a>
                </p>
                <p> Release Cycle: {{ magazine.release_cycle}} </p>
                <p> Description: {{ magazine.description }} </p>
            </div>
            {% endfor %}

      
        </main> 
    </body>
</html>


