{% load static %} 

<!DOCTYPE html>
<html lang="en">
 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{heading}}</title>
    <link rel="stylesheet" href="{% static "css/book-app.css" %}"> 
    
    </head>

    <body>
    <header>
        Book Detail  
        <nav>
        </nav>
    </header>
    <main>
        <div>
            <a href={% url "delete_book" book.pk %}>Delete this Book</a>
        </div>
        <div>
            <a href={% url "update_view" book.pk%}>Edit this Book</a>
        </div>
        <img src={{book.cover }} alt="Book Cover"> 
        <div class="book-card">
        <h2>{{ book.title }}</h2>
        {% for review in book.reviews.all %}
            <p>Review: {{ review.text }}</p>
        {% endfor %}
        {% for author in book.author.all %}
            <p>Author: {{ author.name }}</p>
        {% endfor %}
        <p>Pages: {{ book.pages }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <p>Description: {{ book.description }}</p>
        </div>
    </main>
    </body>

</html> 