<!DOCTYPE html>
<html>
    <head>
        <title>Edit a Book</title>
    </head>
    <body>
        <header>Edit a Book</header>
        <form method="POST" enctype="multipart/form-data">
        
            <!-- Security token -->
            {% csrf_token %}
        
            <!-- Using the formset -->
            {{ form.as_p }}
            
            <input type="submit" value="Submit">
        </form>
    </body>
</html>