<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    List of Books
    <nav>
    </nav>
  </header>
  <main>
    {% for book in books %}
      <div class="book-card">
        <div>
          <h1>
            <a href={% url "update_view" book.pk %}>Edit Book</a>
          </h1>
        </div>
        <img src={{ book.cover}} alt="Book Cover">
        <p>
          <a href={% url 'show_book' book.pk %}> 
            {{ book.title }}
          </a>
        </p> 
        {% for author in book.author.all %}
        <p>{{ author.name }}</p>
        {% endfor %}
        <p>{{ book.publish_year}}
        <p>{{ book.pages }}</p>
        <p>{{ book.isbn }}</p>
        <p>{{ book.description }}</p>
      </div>
    {% endfor %}
  </main>
</body>

</html>
